@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
section.board {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main {
  text-align: left;
  padding: 15px 13px;
  background-color: #ffffff;
  margin-bottom: 2px;
  color: #1A1F1C;
  z-index: 10;
  position: relative;
  height: 23px;
}
nav.main h1 {
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 21px;
  top: 15px;
}
nav.main h1 span {
  font-weight: bold;
}
nav.main .content {
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main .material-icons {
  position: absolute;
  right: 21px;
  top: 15px;
  font-size: 24px;
  opacity: 1;
  cursor: pointer;
  color: #4A90E2;
}

nav.main .material-icons.list {
  right: 61px;
  color: #50E3C2;
}

.backup-menu {
  position: absolute;
  background: white;
  width: 100%;
  padding: 0 24px;
  left: 0;
  top: -76px;
  box-shadow: 0 0 10px black;
  z-index: 9;
  box-sizing: border-box;
  transition: ease-in-out 0.2s all;
}
.backup-menu.open {
  top: 53px;
}

.container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

.note {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
}
.note p{
  margin: 0;
  padding: 24px 24px;
  outline: none;
  display: inline-block;
  min-height: 68px;
  color: #3E4151;
  min-width: 100%;
  box-sizing: border-box;
}

.note .list-item {
  padding-left: 30px;
  position: relative;
  margin-bottom: -25px;
}
.note .list-item:last-of-type {
  margin-bottom: 0;
}
.note .list-item:only-child {
  margin-bottom: 0;
}

.note .list-item .checkbox-blank, 
.note .list-item .checkbox {
  position: absolute;
  left: 20px;
  top: 22px;
  color: #3E4151;
  cursor: pointer;
}

.note .list-item.done .checkbox,
.note .list-item.done p{
  color: #3E415166;
}
.note .list-item.done p {
  text-decoration: line-through;
}

.no-notes {
  text-align: center;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.no-notes.show {
  opacity: 1;
}
.no-notes p {
  display: block;
  padding: 0;
  margin: 0;
  color: #1A1F1C;
}
.no-notes .letter {
  color: #FF5451;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 191px;
}
.no-notes .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
}
.no-notes .text {
  max-width: 190px;
  line-height: 22px;
  margin: 0 auto;
}

.button-new-note {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4A90E2;
  color: white;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0,0,0,.24);
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 1000;
}
.button-new-note i.material-icons {
  position: relative;
  left: 17px;
  top: 15px;
  font-size: 24px;
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: #4A90E2;
}

::selection {
  color: white;
  background: #4A90E2;
}