@import url('https://coppolaemilio.com/fonts/open-sans/open-sans.css');

body {
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
section.board {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main {
  text-align: left;
  padding: 13px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px #D8D8D8;
  margin-bottom: 10px;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 20px;
  z-index: 10;
  position: relative;
}
nav.main .content {
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main .material-icons {
  position: absolute;
  right: 21px;
  top: 17px;
  font-size: 24px;
  opacity: 1;
  cursor: pointer;
  color: #4A90E2;
}

.backup-menu {
  position: absolute;
  background: white;
  width: 100%;
  padding: 0 24px;
  left: 0;
  top: -76px;
  box-shadow: 0 0 10px black;
  z-index: 9;
  box-sizing: border-box;
  transition: ease-in-out 0.2s all;
}
.backup-menu.open {
  top: 53px;
}

.container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

.note {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
}
.note p{
  margin: 0;
  padding: 10px 15px;
  outline: none;
  display: inline-block;
  min-height: 23px;
}

.button-new-note {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #4A90E2;
  color: white;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0,0,0,.24);
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.button-new-note i.material-icons {
  position: relative;
  left: 17px;
  top: 15px;
  font-size: 24px;
}