@import url('https://coppolaemilio.com/fonts/open-sans/open-sans.css');

body {
  padding: 0;
  margin: 0;
  background-color: #F9FAFD;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
section.board {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main {
  text-align: left;
  padding: 13px;
  background-color: #ffca33;
  box-shadow: 0 0 10px #a7a7a7;
  margin-bottom: 10px;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 20px;
  z-index: 10;
  position: relative;
}
nav.main .content {
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
}

nav.main .material-icons {
  position: absolute;
  right: 21px;
  top: 17px;
  font-size: 24px;
  opacity: 0.5;
  cursor: pointer;
}

.backup-menu {
  position: absolute;
  background: white;
  width: 100%;
  padding: 0 24px;
  left: 0;
  top: -76px;
  box-shadow: 0 0 10px black;
  z-index: 9;
  box-sizing: border-box;
  transition: ease-in-out 0.2s all;
}
.backup-menu.open {
  top: 53px;
}

.container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  /* Desktop */
  max-width: 800px;
  margin: 0 auto;
  }
  .container .new-note {
    width: 100%;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.new-note:focus {
  box-shadow: 2px 6px 22px rgba(0,0,0,0.1);
}

.note {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: #fff6af;
  overflow: hidden;
}
.note p{
  margin: 0;
  padding: 10px 15px;
  outline: none;
  display: inline-block;
}